<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Constructme - we build, you enjoy {% endblock %} </title>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
    <!-- reset table-->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap-4.0.0-alpha6.css') }}">
    <script src="{{ url_for('static', filename='js/less.js') }}" type="text/javascript"></script>
    <link rel=icon href="{{ url_for('static',filename='images/favicon.png') }}" type="image/png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script>
        var keys = [1, 2, 3];
        function addtoList() {
            $.getJSON('/inlist', function (data) {
                var html = $("#content").html();
                $.each(data, function (key, val) {

                    if (keys.indexOf(val.title) >= 0) {

                    } else {
                        keys.push(key.title);
                        html += "<div class='item'>";
                        html += "<h5>" + val.title + "</h5>";
                        html += "<p>" + val.area + "m<sup>2</sup></p>";
                        html += "</div>";
                    }
                });
                $("#content").html(html);

            })

        }

        $(function () {
            $(window).click(function () {
                var status = $("#sp-list").css("height");
                if (status != "0px") {
                    $("#sp-list").css("height", "0px");

                }

            });

            $("#sp-list-btn").click(function () {
                event.stopPropagation();
                var status = $("#sp-list").css("height");
                if (status == "0px") {
                    $("#sp-list").css("height", "400px");
                } else {
                    $("#sp-list").css("height", "0px");

                }

            })

            $.getJSON('/inlist', function (data) {
                var html = $("#content").html();
                $.each(data, function (key, val) {
                    keys.push(val.title);

                    html += "<div class='item'>";
                    html += "<h5>" + val.title + "</h5>";
                    html += "<p>" + val.area + "m<sup>2</sup></p>";
                    html += "</div>";
                });
                $("#content").html(html);

            })



        })

    </script> {% endblock %}
</head>

<body>
    <header>
        {% block header %}
        <a href="{{url_for('homepage')}}">
            <img id="logo" src="{{ url_for('static',filename='images/icons/logo.svg') }}">
        <div id="name">
            CONSTRUCTME {% if current_user.is_authenticated %} - {{ current_user.username|title }} {% endif %}
        </div>
        </a>
        <div id="navigation">
            <div class="nav-elems">
                <a href="{{ url_for('homepage') }}">Main</a>
                <div class="line"></div>
            </div>
            <div class="nav-elems">
                <a href="{{ url_for('products_render') }}">Products</a>
                <div class="line"></div>
            </div>
     



            {% if current_user.is_authenticated %}
            <div class="nav-elems">
                <a href="{{ url_for('admin.adminpage') }}">Admin</a>
                <div class="line"></div>
            </div>
            <div class="nav-elems">
                <a href="{{ url_for('admin.add_product') }}">Add Item</a>
                <div class="line"></div>
            </div>
            <div class="nav-elems">
                <a href="{{ url_for('admin.logout') }}">Sign out</a>
                <div class="line"></div>
            </div>
            {% endif %}
            <div class="nav-elems">

                <a id="sp-list-btn">
                    <img src="{{url_for('static', filename='images/cart.png')}}"> &nbsp; Shopping Lists
                    <div class="line"></div>
                </a>
            </div>
        </div>
        {% endblock %}
        <div id="sp-list">
            <div id="content">



                <div class="item">


                </div>



            </div>
            <a href="{{url_for('checkout')}}">
                <div id="checkout">Checkout</div>
            </a>
        </div>
    </header>
    <main>
        {% block main %} {% endblock %}
    </main>
    <footer>
        {% block footer %} {% endblock %}
    </footer>

</body>

</html>
