{% extends "base.html" %} {% block title %} Checkout your order {% endblock %} {% block head %}
<link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='styles/checkout.less') }}"> {{ super() }}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="{{url_for('static', filename='js/datepicker.js')}}"></script>
<script>
    $(function () {
        $(".delete").click(function () {
            $(this).parent().parent().css("left", "2000px").css("height", "0px");
        })

    })

</script> {% endblock %} {% block main %}
<div class="container">
    <div class="row">

            <div class="col">
                    <form method="post" action="{{url_for('checkout')}}">
            
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> First Name: {{form.firstname(class="form-control")}}
                        <br> Last Name: {{form.lastname(class="form-control")}}
                        <br> Email: {{form.email(class="form-control")}}
                        <br> Date: {{form.date(class="dtpick form-control")}}
                        <br> Comment:
                        <br> {{form.comment(class="form-control")}}
                        <br>
                        <h5>Total Price: {{ "${:,}".format(cart|sum(attribute="price")) }}
            
                        </h5>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
            
                </div>
        <div class="col">
            {% for item in cart %}

            <div class="item">
                <div class="img" style="background-image: url('{{ url_for('static',filename='images/products/'+item.image[1]) }}')"></div>
                <div class="content">
                    <h5>{{item.title}}</h5>
                    <h6>area: {{item.area}}m
                        <sup>2</sup>
                    </h6>
                    <h6>price: {{ "${:,}".format(item.price)}}</h6>
                    <div class="delete">Delete</div>
                </div>
            </div>
            {% endfor %}

        </div>
    


  
    </div>

</div>

{% endblock %}