{% extends "base.html" %}
{% block title %} Thank you for your order - {{ super() }} {% endblock %}
{% block head %}
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='styles/completedorder.less') }}">
    {{ super() }}
{% endblock %}
{% block main %}
    <h3>Thank you for your order.</h3>
    <p>Your oder number is # {{ id }}</p>
    <p>We will concatct you as soon as possible.</p>
{% endblock %}