{% extends "base.html" %}
{% block head %}

    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='styles/homepage.less') }}">
    {{ super() }}

    <script src="{{ url_for('static', filename='js/loginform.js') }}"></script>
{% endblock %}
{% block main %}
    <div id="intro">
        <div id="intro-image"></div>
        <div id="intro-tagline">

            <div id="intro-tagline-text">
                <div id="intro-tagline-blur"></div>
                We build your future
            </div>

        </div>

    </div>
    <div id="projects">
        <div id="projects-title">Our projects</div>


        <div class="projects">
            <div class="image" id="img01"></div>
            <div class="title">Ohh, I thought it fell down two month ago</div>
        </div>
        <div class="projects">
            <div class="image" id="img02"></div>
            <div class="title">It smells so bad in there...</div>
        </div>
        <div class="projects">
            <div class="image" id="img03"></div>
            <div class="title">It is not our project, we just needed third picture</div>
        </div>


    </div>
    <div id="why-us">
        <span id="why-us-title">Why us?</span>
        <br>
        <div class="reasons">
            <div class="more">
                <div class="more-text">We don't have such</div>
            </div>
            <svg class="svg-icons" id="resaons-image-01" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;"
            xml:space="preserve" width="512px" height="512px">
            <g>
                <g>
                    <path d="M371.391,48.057C340.77,17.289,300.007,0.222,256.61,0.002C256.33,0.001,256.064,0,255.783,0    C171.038,0,99.665,65.951,93.127,150.484c-0.321,4.155,2.787,7.783,6.941,8.105c4.145,0.335,7.783-2.788,8.105-6.941    c5.934-76.715,70.698-136.557,147.61-136.557c0.25,0,0.501,0.001,0.751,0.002c81.204,0.411,147.269,66.82,147.269,148.035    c0,46.24-21.027,88.983-57.692,117.269c-13.396,10.335-21.394,26.577-21.394,43.446v7.651h-19.617V162.228    c0-0.044-0.008-0.088-0.008-0.132c-0.004-0.23-0.019-0.461-0.044-0.691c-0.007-0.062-0.011-0.126-0.019-0.188    c-0.076-0.57-0.22-1.137-0.433-1.689c-0.029-0.076-0.063-0.15-0.095-0.225c-0.078-0.187-0.165-0.371-0.26-0.554    c-0.047-0.092-0.097-0.181-0.148-0.271c-0.037-0.065-0.068-0.134-0.109-0.198L264.55,94.053c-1.372-2.235-3.807-3.597-6.43-3.597    c-2.623,0-5.057,1.362-6.43,3.597l-39.437,64.226c-0.04,0.065-0.07,0.133-0.109,0.198c-0.051,0.09-0.101,0.179-0.148,0.271    c-0.096,0.183-0.181,0.367-0.26,0.554c-0.032,0.076-0.065,0.149-0.095,0.225c-0.212,0.552-0.356,1.119-0.433,1.689    c-0.008,0.062-0.012,0.125-0.019,0.188c-0.025,0.23-0.04,0.461-0.044,0.691c-0.001,0.044-0.008,0.088-0.008,0.132v27.59    c0,4.168,3.378,7.545,7.545,7.545s7.545-3.377,7.545-7.545v-15.823l24.346,11.178v146.088h-24.346V219.198    c0-4.168-3.378-7.545-7.545-7.545s-7.545,3.377-7.545,7.545v112.296h-24.32v-7.254c0-17.143-7.946-33.493-21.256-43.738    c-32.327-24.881-53.145-62.321-57.113-102.72c-0.407-4.147-4.099-7.187-8.247-6.771c-4.147,0.406-7.179,4.1-6.771,8.247    c4.374,44.53,27.31,85.789,62.927,113.202c9.624,7.407,15.369,19.287,15.369,31.779v47.867c0,4.168,3.378,7.545,7.545,7.545    h152.992c4.167,0,7.545-3.377,7.545-7.545v-48.265c0-12.223,5.803-23.998,15.521-31.497    c40.396-31.166,63.564-78.265,63.564-129.218C418.894,119.701,402.024,78.835,371.391,48.057z M258.119,112.422l11.225,18.282    h-22.451L258.119,112.422z M229.566,158.923l8.061-13.129h40.983l8.061,13.129l-28.553,13.11L229.566,158.923z M290.01,173.995    v157.266h-24.345V185.173L290.01,173.995z M324.717,364.562H186.816v-17.977h137.901V364.562z"
                    />
                </g>
            </g>
            <g>
                <g>
                    <path d="M332.263,388.58H179.271c-4.167,0-7.545,3.377-7.545,7.545v31.127c0,4.168,3.378,7.545,7.545,7.545h152.992    c4.167,0,7.545-3.377,7.545-7.545v-31.127C339.808,391.958,336.43,388.58,332.263,388.58z M324.717,419.708H186.816v-16.036    h137.901V419.708z"
                    />
                </g>
            </g>
            <g>
                <g>
                    <path d="M332.263,443.727H179.271c-4.167,0-7.545,3.377-7.545,7.545v4.665c0,30.914,25.15,56.064,56.063,56.064h55.956    c30.914,0,56.063-25.15,56.063-56.064v-4.665C339.808,447.104,336.43,443.727,332.263,443.727z M283.745,496.909h-55.956    c-21.624,0-39.39-16.838-40.872-38.092h137.701C323.135,480.071,305.369,496.909,283.745,496.909z"
                    />
                </g>
            </g>
            <g>
                <g>
                    <path d="M258.119,30.21c-4.167,0-7.545,3.377-7.545,7.545v29.369c0,4.167,3.378,7.545,7.545,7.545    c4.167,0,7.545-3.377,7.545-7.545V37.755C265.664,33.587,262.286,30.21,258.119,30.21z"
                    />
                </g>
            </g>
            <g>
                <g>
                    <path d="M308.934,55.525c-2.947-2.946-7.724-2.946-10.67,0l-20.767,20.767c-2.947,2.948-2.947,7.724,0,10.671    c1.473,1.473,3.404,2.209,5.335,2.209s3.862-0.736,5.335-2.209l20.767-20.767C311.88,63.248,311.88,58.471,308.934,55.525z"
                    />
                </g>
            </g>
            <g>
                <g>
                    <path d="M239.931,76.293l-20.767-20.767c-2.947-2.946-7.724-2.946-10.67,0c-2.947,2.948-2.947,7.724,0,10.671l20.767,20.767    c1.473,1.472,3.404,2.209,5.335,2.209c1.931,0,3.862-0.736,5.335-2.209C242.877,84.016,242.877,79.239,239.931,76.293z"
                    />
                </g>
            </g>
        </svg>
            <div class="text">Awesome ideas</div>
        </div>
        <div class="reasons">
            <div class="more">
                <div class="more-text">I hope they're sober</div>
            </div>
            <svg class="svg-icons" id="resaons-image-02" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
                <g>
                    <circle cx="441.639" cy="338.1" r="10" />
                </g>
            </g>
            <g>
                <g>
                    <circle cx="60.965" cy="338.1" r="10" />
                </g>
            </g>
            <g>
                <g>
                    <path d="M494.298,491.996h-85.876l-0.525-245.772c-0.012-5.517-4.487-9.98-10.001-9.98c-0.007,0-0.015,0-0.022,0    c-5.524,0.012-9.992,4.499-9.98,10.023l0.525,245.729h-29.049l-0.257-109.348c-0.013-5.516-4.488-9.978-10.001-9.978    c-0.008,0-0.016,0-0.024,0c-5.524,0.013-9.992,4.501-9.978,10.025l0.257,109.301h-24.285v-132.36    c28.31-2.503,50.569-25.767,50.569-54.016v-96.924c0-15.412-3.27-30.519-9.525-44.471c19.751,1.319,38.136,9.355,52.28,23.013    c15.478,14.946,24.027,34.82,24.071,55.971l0.183,56.916c0.018,5.513,4.492,9.97,10.001,9.97c0.011,0,0.022,0,0.033,0    c5.523-0.018,9.987-4.51,9.97-10.034l-0.183-56.905c-0.057-26.6-10.775-51.569-30.18-70.307    c-11.084-10.703-24.249-18.63-38.597-23.439c10.163-9.673,16.505-23.323,16.473-38.427c-0.063-29.142-23.79-52.807-52.919-52.807    c-0.038,0-0.077,0-0.114,0c-8.486,0.019-16.924,2.097-24.401,6.01c-4.894,2.562-6.785,8.606-4.223,13.5    c2.563,4.894,8.608,6.785,13.5,4.223c4.706-2.463,9.809-3.718,15.168-3.73c18.179-0.009,32.948,14.696,32.987,32.846    c0.039,18.15-14.696,32.948-32.846,32.987c-0.431,0.001-0.852,0.038-1.267,0.092c-0.533,0.022-1.065,0.041-1.599,0.071    c-14.45-19.776-34.736-34.122-57.84-41.402c12.266-10.762,20.033-26.535,20.033-44.098C306.652,26.321,280.332,0,247.979,0    c-32.354,0-58.675,26.321-58.675,58.675c0,18.414,8.534,34.866,21.847,45.631c-21.208,7.654-39.794,21.365-53.292,39.812    c-1.584-0.071-3.166-0.113-4.74-0.113c-0.748,0-1.494,0.012-2.239,0.028c-0.183-0.01-0.363-0.028-0.548-0.028    c-18.15,0-32.916-14.766-32.916-32.916c0-18.15,14.766-32.916,32.916-32.916c5.486,0,10.913,1.374,15.693,3.973    c4.853,2.637,10.925,0.843,13.565-4.01c2.638-4.853,0.843-10.926-4.01-13.565c-7.704-4.189-16.435-6.403-25.249-6.403    c-29.18,0-52.92,23.74-52.92,52.92c0,15.89,7.05,30.156,18.174,39.865c-37.813,14.581-64.622,50.512-64.622,92.42v56.72    c0,5.524,4.478,10.002,10.002,10.002c5.524,0,10.002-4.478,10.002-10.002v-56.72c0-41.48,33.116-75.606,75.144-79.055    c-6.227,13.925-9.484,28.998-9.484,44.378v96.924c0,28.808,23.147,52.433,52.255,54.141v132.234h-27.248V382.668    c0-5.524-4.478-10.002-10.002-10.002s-10.002,4.478-10.002,10.002v109.328h-24.586v-245.65c0-5.524-4.478-10.002-10.002-10.002    c-5.524,0-10.002,4.478-10.002,10.002v245.65H17.702c-5.524,0-10.002,4.478-10.002,10.002S12.177,512,17.702,512h476.597    c5.524,0,10.002-4.478,10.002-10.002C504.299,496.474,499.822,491.996,494.298,491.996z M209.307,58.675    c0-21.323,17.348-38.671,38.671-38.671s38.67,17.348,38.67,38.671s-17.348,38.671-38.67,38.671    C226.656,97.346,209.307,79.998,209.307,58.675z M305.079,202.066c-5.524,0-10.002,4.478-10.002,10.002v279.928h-35.622V352.849    c0-5.524-4.478-10.002-10.002-10.002s-10.002,4.478-10.002,10.002v139.148h-30.565V212.068c0-5.524-4.478-10.002-10.002-10.002    c-5.524,0-10.002,4.478-10.002,10.002v127.641c-18.067-1.64-32.252-16.299-32.252-34.088v-96.924    c0-17.31,5.034-34.159,14.558-48.724c17.452-26.689,47.34-42.623,79.95-42.623c32.664,0,62.579,15.975,80.021,42.734    c9.477,14.54,14.487,31.35,14.487,48.613v96.924c0,17.232-13.31,31.525-30.565,33.895V212.068    C315.082,206.544,310.603,202.066,305.079,202.066z"
                    />
                </g>
            </g>
        </svg>
            <div class="text">Such a great team</div>
        </div>
        <div class="reasons">
            <div class="more">
                <div class="more-text">
                    Becouse we're fucked with limits, units and ZOOM.
                </div>
            </div>
            <svg id="resaons-image-03" class="svg-icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;"
            xml:space="preserve">
            <g>
                <g>
                    <path d="M209.039,433.759H42.463c-14.958,0-27.128-12.169-27.128-27.128s12.169-27.128,27.128-27.128    c14.958,0,27.128,12.169,27.128,27.128c0,4.235,3.433,7.668,7.668,7.668s7.668-3.433,7.668-7.668V165.878H186.56    c4.235,0,7.668-3.433,7.668-7.668s-3.433-7.668-7.668-7.668H84.927v-25.235c0-23.414-19.049-42.463-42.463-42.463    S0,101.893,0,125.307v221.932c0,4.235,3.433,7.668,7.668,7.668s7.668-3.433,7.668-7.668V125.307    c0-14.958,12.169-27.128,27.128-27.128c14.958,0,27.128,12.169,27.128,27.128v248.679c-7.362-6.128-16.823-9.819-27.128-9.819    C19.049,364.168,0,383.217,0,406.631s19.049,42.463,42.463,42.463h166.575c4.235,0,7.668-3.433,7.668-7.668    S213.273,433.759,209.039,433.759z"
                    />
                </g>
            </g>
            <g>
                <g>
                    <path d="M469.537,82.844c-23.414,0-42.463,19.049-42.463,42.463v25.235H220.216c-4.235,0-7.668,3.433-7.668,7.668    s3.433,7.668,7.668,7.668h206.857v240.753c0,4.235,3.433,7.668,7.668,7.668c4.235,0,7.668-3.433,7.668-7.668    c0-14.958,12.169-27.128,27.128-27.128c14.958,0,27.128,12.169,27.128,27.128c0,14.958-12.169,27.128-27.128,27.128H249.293    c-4.235,0-7.668,3.433-7.668,7.668s3.433,7.668,7.668,7.668h220.244c21.692,0,39.637-16.352,42.16-37.376    c0.197-0.68,0.303-1.399,0.303-2.142V125.307C512,101.893,492.951,82.844,469.537,82.844z M496.664,373.987    c-7.362-6.128-16.822-9.819-27.128-9.819c-10.305,0-19.766,3.691-27.128,9.819V125.307c0-14.958,12.169-27.128,27.128-27.128    s27.128,12.169,27.128,27.128V373.987z"
                    />
                </g>
            </g>
            <g>
                <g>
                    <path d="M353.002,267.132h-16.121c-5.729,0-7.984-4.367-8.538-5.705s-2.049-6.021,2.003-10.072l10.27-10.27    c1.438-1.438,2.246-3.388,2.246-5.422s-0.808-3.984-2.246-5.422l-25.137-25.136c-2.995-2.995-7.85-2.995-10.843,0l-14.124,14.124    c-4.053,4.052-8.734,2.557-10.072,2.003c-1.338-0.554-5.705-2.808-5.705-8.538v-23.832c0-4.235-3.433-7.668-7.668-7.668h-35.549    c-4.235,0-7.668,3.433-7.668,7.668v23.831c0,5.729-4.367,7.984-5.705,8.538c-1.338,0.555-6.02,2.049-10.071-2.003l-14.125-14.125    c-2.994-2.995-7.849-2.995-10.843,0l-25.137,25.136c-1.438,1.437-2.246,3.388-2.246,5.422s0.808,3.984,2.246,5.422l10.27,10.27    c4.052,4.052,2.558,8.733,2.003,10.072c-0.554,1.338-2.808,5.705-8.539,5.705h-16.121c-4.235,0-7.668,3.433-7.668,7.668v35.549    c0,4.235,3.433,7.668,7.668,7.668h23.831c5.729,0,7.984,4.367,8.538,5.705c0.554,1.338,2.048,6.02-2.003,10.071l-17.979,17.979    c-2.995,2.995-2.995,7.85,0,10.843l25.137,25.137c2.995,2.995,7.85,2.995,10.843,0l14.125-14.125    c4.051-4.05,8.733-2.557,10.071-2.003c1.338,0.554,5.705,2.808,5.705,8.538v16.122c0,4.235,3.433,7.668,7.668,7.668h35.549    c4.236,0.002,7.669-3.431,7.669-7.666v-16.121c0-5.729,4.367-7.985,5.705-8.539c1.339-0.554,6.021-2.048,10.072,2.003    l14.124,14.125c1.437,1.439,3.388,2.246,5.422,2.246s3.984-0.808,5.422-2.246l25.137-25.137c2.995-2.995,2.995-7.85,0-10.843    l-17.979-17.979c-4.052-4.052-2.558-8.733-2.003-10.071c0.554-1.338,2.808-5.705,8.538-5.705h23.831    c4.235,0,7.668-3.433,7.668-7.668V274.8C360.67,270.565,357.237,267.132,353.002,267.132z M345.336,302.68h-16.163    c-10.13,0-18.83,5.814-22.706,15.172c-3.877,9.358-1.834,19.621,5.328,26.783l12.558,12.558l-14.293,14.293l-8.702-8.702    c-7.163-7.162-17.425-9.204-26.784-5.328c-9.36,3.877-15.174,12.578-15.174,22.708v8.453h-20.213v-8.454    c0-10.13-5.814-18.83-15.172-22.706c-9.358-3.877-19.621-1.834-26.783,5.328l-8.703,8.703l-14.293-14.293l12.558-12.558    c7.163-7.162,9.203-17.425,5.328-26.784c-3.877-9.358-12.577-15.172-22.706-15.172h-16.163v-20.213h8.453    c10.13,0,18.83-5.814,22.707-15.172c3.877-9.359,1.834-19.621-5.328-26.784l-4.848-4.848l14.293-14.293l8.703,8.703    c7.163,7.164,17.426,9.202,26.784,5.328c9.358-3.877,15.172-12.577,15.172-22.706v-16.165h20.213v16.163    c0,10.13,5.814,18.83,15.172,22.706c9.359,3.877,19.621,1.834,26.784-5.328l8.702-8.702l14.293,14.293l-4.848,4.848    c-7.163,7.163-9.203,17.425-5.328,26.784c3.877,9.359,12.577,15.172,22.706,15.172h8.453V302.68z"
                    />
                </g>
            </g>
            <g>
                <g>
                    <path d="M249.292,239.751c-29.126,0-52.823,23.697-52.823,52.823s23.697,52.823,52.823,52.823s52.823-23.697,52.823-52.823    C302.115,263.447,278.418,239.751,249.292,239.751z M249.293,330.061c-20.67,0-37.487-16.817-37.487-37.487    s16.817-37.487,37.487-37.487s37.487,16.817,37.487,37.487C286.779,313.244,269.963,330.061,249.293,330.061z"
                    />
                </g>
            </g>
            <g>
                <g>
                    <path d="M403.647,181.195h-42.322c-4.235,0-7.668,3.433-7.668,7.668s3.433,7.668,7.668,7.668h34.654v21.552    c0,4.235,3.433,7.668,7.668,7.668s7.668-3.433,7.668-7.668v-29.219C411.315,184.629,407.881,181.195,403.647,181.195z"
                    />
                </g>
            </g>
            <g>
                <g>
                    <path d="M403.647,236.422c-4.235,0-7.668,3.433-7.668,7.668v10.403c0,4.235,3.433,7.668,7.668,7.668s7.668-3.433,7.668-7.668    V244.09C411.315,239.855,407.881,236.422,403.647,236.422z"
                    />
                </g>
            </g>
            <g>
                <g>
                    <path d="M403.647,279.704c-4.235,0-7.668,3.433-7.668,7.668v10.403c0,4.235,3.433,7.668,7.668,7.668s7.668-3.433,7.668-7.668    v-10.403C411.315,283.137,407.881,279.704,403.647,279.704z"
                    />
                </g>
            </g>
            <g>
                <g>
                    <path d="M403.647,322.988c-4.235,0-7.668,3.433-7.668,7.668v10.403c0,4.235,3.433,7.668,7.668,7.668s7.668-3.433,7.668-7.668    v-10.403C411.315,326.421,407.881,322.988,403.647,322.988z"
                    />
                </g>
            </g>
            <g>
                <g>
                    <path d="M403.647,366.271c-4.235,0-7.668,3.433-7.668,7.668v10.403c0,4.235,3.433,7.668,7.668,7.668s7.668-3.433,7.668-7.668    v-10.403C411.315,369.704,407.881,366.271,403.647,366.271z"
                    />
                </g>
            </g>
            <g>
                <g>
                    <path d="M384.794,62.905h-15.823h-23.863H170.815c-0.013,0-0.026,0.002-0.038,0.002c-0.059,0-0.12,0.007-0.179,0.009    c-0.233,0.006-0.465,0.02-0.693,0.048c-0.083,0.01-0.166,0.026-0.248,0.038c-0.212,0.032-0.42,0.072-0.626,0.121    c-0.081,0.019-0.161,0.04-0.242,0.062c-0.22,0.06-0.435,0.13-0.645,0.209c-0.044,0.016-0.089,0.026-0.132,0.043L110.63,85.976    c-3.041,1.194-4.99,4.184-4.857,7.447c0.131,3.263,2.317,6.085,5.443,7.03l57.289,17.31c0.026,0.008,0.05,0.015,0.076,0.022    l0.017,0.005c0.008,0.002,0.016,0.003,0.023,0.005c0.311,0.093,0.631,0.161,0.957,0.214c0.077,0.012,0.153,0.025,0.231,0.035    c0.329,0.043,0.664,0.074,1.005,0.074h0.001h174.292h23.863h15.823c14.624,0,26.52-11.897,26.52-26.52v-2.172    C411.315,74.801,399.417,62.905,384.794,62.905z M163.147,100.123l-26.333-7.956l26.333-10.343V100.123z M337.44,102.782H178.483    V78.241H337.44V102.782z M361.303,102.782h-8.528V78.241h8.528V102.782z M395.979,91.598c0,6.168-5.018,11.185-11.185,11.185    h-8.156V78.241h8.156c6.167,0,11.185,5.018,11.185,11.185V91.598z"
                    />
                </g>
            </g>
        </svg>
            <div class="text">We draw on paper</div>
        </div>
        <div class="reasons">
            <div class="more">
                <div class="more-text">
                    Oh, shit, it's falling! watch out!
                </div>
            </div>
            <svg id="resaons-image-04" class="svg-icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"
            width="512px" height="512px">
            <g>
                <g>
                    <g>
                        <path d="M486.4,0H213.333c-14.132,0.015-25.585,11.468-25.6,25.6c-0.006,4.71-3.823,8.527-8.533,8.533H17.067     C7.645,34.143,0.009,41.778,0,51.2V128c0.015,14.132,11.468,25.585,25.6,25.6h59.733v290.133H68.267     c-14.132,0.015-25.585,11.468-25.6,25.6v34.133c0,4.713,3.82,8.533,8.533,8.533h187.733c4.713,0,8.533-3.82,8.533-8.533v-34.133     c-0.015-14.132-11.468-25.585-25.6-25.6H204.8v-230.4h59.733c32.974-0.037,59.696-26.759,59.733-59.733V85.333h93.867v110.933     c-9.422,0.009-17.057,7.645-17.067,17.067v85.333c0.009,9.422,7.645,17.057,17.067,17.067h25.6v18.278     c-17.135,4.463-27.997,21.306-24.995,38.756c3.003,17.45,18.87,29.694,36.512,28.172c17.642-1.521,31.179-16.3,31.15-34.007     c0-4.713-3.82-8.533-8.533-8.533s-8.533,3.82-8.533,8.533c0,9.426-7.641,17.067-17.067,17.067     c-9.426,0-17.067-7.641-17.067-17.067s7.641-17.067,17.067-17.067c4.713,0,8.533-3.82,8.533-8.533v-25.6h25.6     c9.422-0.009,17.057-7.645,17.067-17.067v-85.333c-0.009-9.422-7.645-17.057-17.067-17.067V85.333h17.067     c4.713,0,8.533-3.82,8.533-8.533V25.6C511.985,11.468,500.532,0.015,486.4,0z M431.941,68.267l20.326-40.654l20.326,40.654     H431.941z M469.333,85.333v110.933H435.2V85.333H469.333z M301.925,17.067L281.6,57.717l-20.325-40.65H301.925z M267.792,68.267     h-40.651l20.326-40.654L267.792,68.267z M17.067,85.333h68.267V102.4H17.067V85.333z M25.6,136.533     c-4.71-0.006-8.527-3.823-8.533-8.533v-8.533h68.267v17.067H25.6z M221.867,460.8c4.71,0.006,8.527,3.823,8.533,8.533v25.6     H59.733v-25.6c0.006-4.71,3.823-8.527,8.533-8.533H221.867z M185.241,327.112l-40.175,49.101l-40.174-49.101l40.174-49.104     L185.241,327.112z M104.892,201.954l40.174-49.101l40.175,49.101l-40.175,49.103L104.892,201.954z M178.259,443.733h-66.384     l33.192-40.567L178.259,443.733z M156.093,389.69l31.641-38.672v77.344L156.093,389.69z M156.092,264.533l31.641-38.673v77.346     L156.092,264.533z M156.093,139.377l31.641-38.672v77.344L156.093,139.377z M145.067,125.901l-33.192-40.568h66.384     L145.067,125.901z M134.041,139.377L102.4,178.049v-32.982v-44.361L134.041,139.377z M134.041,264.533L102.4,303.206V225.86     L134.041,264.533z M134.041,389.69L102.4,428.361v-77.344L134.041,389.69z M17.067,68.267V51.2H179.2     c14.132-0.015,25.585-11.468,25.6-25.6c0.006-4.71,3.823-8.527,8.533-8.533h20.325l-25.6,51.2H17.067z M307.2,153.6     c-0.028,23.553-19.114,42.639-42.667,42.667H204.8V85.333h102.4V153.6z M315.733,68.267h-20.326l20.326-40.654l20.326,40.654     H315.733z M329.542,17.067h40.65l-20.325,40.65L329.542,17.067z M363.674,68.267L384,27.612l20.326,40.654H363.674z      M397.808,17.067h40.65l-20.325,40.65L397.808,17.067z M486.412,298.667h-68.279v-85.333H486.4L486.412,298.667z M494.933,68.267     h-3.258l-25.6-51.2H486.4c4.71,0.006,8.527,3.823,8.533,8.533V68.267z"
                        />
                        <path d="M230.4,153.6h34.133c14.138,0,25.6-11.462,25.6-25.6s-11.462-25.6-25.6-25.6H230.4c-4.713,0-8.533,3.82-8.533,8.533     v34.133C221.867,149.779,225.687,153.6,230.4,153.6z M238.933,119.467h25.6c4.71,0.006,8.527,3.823,8.533,8.533     c-0.006,4.71-3.823,8.527-8.533,8.533h-25.6V119.467z"
                        />
                    </g>
                </g>
            </g>
        </svg>
            <div class="text">WE HAVE A CRANE!</div>
        </div>


    </div>
    <div id="our-partners">
        <div id="our-partners-slogan">We work with</div>
        <div class="partners">
            <div class="partners-logos" id="partner-logo-01"></div>
            <div class="partners-slogans">Structural chemistry</div>
        </div>
        <div class="partners">
            <div class="partners-logos" id="partner-logo-02"></div>
            <div class="partners-slogans">Building materials</div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="info-blocks">
        <h3>Company</h3>
        <p>Contact us</p>
        <p>Press</p>
        <p>Careers</p>
    </div>
    <div class="info-blocks">
        <h3>Company</h3>
        <p>really, don't</p>
        <p>Press</p>
        {% if current_user.is_authenticated %}
            <p><a href="{{ url_for('admin.adminpage') }}">Admin</a></p>

        {% else %}
            <p id="admin">Log In</p>
        {% endif %}

    </div>
    <form id="subscribe_form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div id="input-email">
            <div class="input-group">

                <input name="email" type="text" class="form-control" aria-label="Text input with dropdown button">
                <div class="input-group-btn" id="subs">
                    <button type="button" class="btn btn-secondary">
                        Subscribe
                    </button>
                </div>
            </div>
        </div>
    </form>

    <script src="{{ url_for('static',filename='js/subscribe.js') }}"></script>
    <div id="loginform">
        <form action="{{ url_for('login') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {{ form.username(class_="loginform-inputs",id="focus") }}<br>
            {{ form.password(class_="loginform-inputs") }} <br>
            <input type="submit" value="Log in">
        </form>
    </div>
    <div id="darken"></div>
{% endblock %}