{% extends "base.html" %} {% block title %}News{%endblock%} {% block head %}

<link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='styles/blog.less') }}"> {{super()}} {% endblock %} {% block main %}
<div id="posts">
    {% for post in news %}
    <div class="post">
        <h3>{{post.title}}</h3>
        <h6>{{post.text}}</h6>
        {% for tag in post.tags %} #{{tag}} {%endfor%}
    </div>
    {%endfor%}
</div>

{% for i in range(1,pages+1)%} {{i}} {%endfor%} 


{% if current_user.is_authenticated %}
<a href="{{url_for('admin.add_post')}}">
    <button class="btn">
        Add post
    </button>
</a>
{% endif %} 

{% endblock %}