{% extends "base.html" %}
{% block head %}
    
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='styles/orderpage.less')}}">

    {{ super() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{url_for('static', filename='js/datepicker.js')}}" ></script>
    
{% endblock %}

{% block main %}
    <div id="form-container">
        <form method="post" action="{{url_for('process_order')}}">
            {{form.id(value=product._id)}}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <h3>Item: {{product.title|title}}</h3>



            First Name: {{form.firstname(class="form-control")}}
            <br> Last Name: {{form.lastname(class="form-control")}}
            <br> Email: {{form.email(class="form-control")}}
            <br> Date: {{form.date(class="dtpick form-control")}}
            <br> Comment:
            <br> {{form.comment(class="form-control")}}
            <br>
            <h5>Total Price:
                <span class="nexal">{{"${:,}".format(product.price)}}</span>
            </h5>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>

    </div>
    <div id="background">
        <img width="100%" src="{{url_for('static',filename='images/products/'+product.image[0])}}">
    </div>
{% endblock %}
