{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='styles/productspage.less') }}">
    {{ super() }}
    <script src="{{ url_for('static', filename='js/productsmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/range.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/rangebase.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/flatrange.css') }}">
{% endblock %}
{% block title %}Our Products - {{ super() }}{% endblock %}
{% block main %}
    <div id="selectors" align="left">

        <p id="all"><a>All products</a></p>
        <p id="flats"><a>Flats</a></p>
        <p id="houses"><a>Houses</a></p>
        <p id="penthouses"><a>Penthouses</a></p>
        <input width="500px" type="text" id="example_id" name="example_name" value=""/>

    </div>

    <div id="products">
        {% if new and current_user.is_authenticated %}
        <div class="alert alert-success">
            SUCCESS!
        </div>
        {% endif %}
        {% for product in products %}
            <div class="container {{ product.type }}">
                <div class="info-box" id="first">
                    <div class="rel">

                        {% if product.image[1] %}

                            <div style="background-image: url('{{ url_for('static',filename='images/products/'+product.image[1]) }}')" class="image"></div>
                            <div style="background-image: url('{{ url_for('static',filename='images/products/'+product.image[0]) }}')" class="image dissapear"></div>
        
                        {% else %}
                            <img src="{{ url_for('static',filename='images/products/'+product.image[0]) }}"
                                 class="image">
                        {% endif %}


                    </div>
                    <div class="product-name">
                        {{ product.title }}
                    </div>
                    <div class="price">
                        Price:
                        <span class="nexal">{{ "${:,}".format(product.price) }}</span>
                    </div>


                    <div class="buttons-block">


                        <a href="{{ url_for('product_info', id=product._id) }}">
                            <input type="button" class="button" value="More">
                        </a>

                        <br>
                        <a href="{{ url_for('order', id=product._id) }}">
                            <input class="button" type="button" value="Buy">
                        </a>


                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        $("#example_id").ionRangeSlider({
            type: "double",
            grid: true,
            min: 0,
            max: 800000000,
            from: -500,
            to: 500,
            step: 10000
        });
    </script>
{% endblock %}
