{% extends "base.html" %} {% block head %}
<link rel="stylesheet/less" type="text/css" href="{{url_for('static',filename='styles/productinfo.less')}}">
<link rel="stylesheet" href="{{url_for('static',filename='styles/assets/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='styles/assets/owl.theme.default.css')}}"> {{super()}} 
<script>
        $(function () {
            $("#shopping-list-btn").click(function () {
                var url = window.location.href + "/add_to_list";
                $.get(url, function(){
                    addtoList();
                });
                
            })
        })
    
    </script>
    {% endblock %} {% block main %}

<img id="product-img" src="{{url_for('static',filename='images/products/'+item.image[0])}}" alt="">
<h2>
    {{item.title|title}}
</h2>
<a href="{{url_for('order', id=item._id)}}">
    <button type="button" class="btn btn-success">Buy</button>
</a>
<button id="shopping-list-btn" type="button" class="btn">Add to shopping list</button>
<br>
<br> {% if current_user.is_authenticated %}
<a href="{{url_for('admin.edit', id=item._id)}}">
    <button type="button" class="btn btn-warning">Edit</button>
</a>
<a href="{{url_for('admin.delete_product', id=item._id)}}">
    <button type="button" class="btn btn-danger">Delete</button>
</a>
<br> {% endif %}
<p>
    <b>Area: </b> {{item.area}} m
    <sup>2</sup>
</p>
<p>
    <b>Price: </b> {{"${:,}".format(item.price)}}
</p>
<p>

    <b>Description: </b>
    <br> {{item.description}}
</p>
<h3>Simmilar:</h3>
<div id="products" class="owl-carousel owl-theme">





    {% for product in products %}
    <div class="container {{ product.type }}">
        <div class="info-box" id="first">
            <div class="rel">

                {% if product.image[1] %}

                <div style="background-image: url('{{ url_for('static',filename='images/products/'+product.image[1]) }}')" class="image"></div>
                <div style="background-image: url('{{ url_for('static',filename='images/products/'+product.image[0]) }}')" class="image dissapear"></div>

                {% else %}
                <img src="{{ url_for('static',filename='images/products/'+product.image[0]) }}" class="image"> {% endif %}


            </div>
            <div class="product-name">
                {{ product.title }}
            </div>
            <div class="price">
                Price:
                <span class="nexal">{{ "${:,}".format(product.price) }}</span>
            </div>


            <div class="buttons-block">


                <a href="{{ url_for('product_info', id=product._id) }}">
                    <input type="button" class="button" value="More">
                </a>

                <br>
                <a href="{{ url_for('order', id=product._id) }}">
                    <input class="button" type="button" value="Buy">
                </a>


            </div>
        </div>
    </div>
    {%endfor%}




</div>


<script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
<script>
    $(function () {
        $('.owl-carousel').owlCarousel({
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        });
    })
</script> {% endblock %}