{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='styles/adminpage.less') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    {{ super() }}
{% endblock %}

{% block main %}
    <br>
    <h4>All orders:</h4><br>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Building</th>
            <th>Price</th>
        </tr>
        </thead>



        {% for order in orders %}
            <tbody>

            <tr class="order">
                <th scope="row">{{ loop.index }}</th>
                <td>{{ order.firstname }}</td>
                <td>{{ order.lastname }}</td>
                <td>{{ order.email }}</td>
                <td>{% for i in order.product %}
                    {{i.title}} <br>
                    {% endfor %}
                </td>
                <td>
                       {{ "${:,}".format(order.product|sum(attribute="price"))}}

                </td>
           


            </tr>
            <tr class="comment">
                <th scope="row"></th>
                <td colspan="5"><b>Comment:</b> {{ order.comment }}</td>

            </tr>
            </tbody>

        {% endfor %}

    </table>

    <br><h4>All subscribers</h4><br>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Subscription date</th>
        </tr>
        </thead>
        <tbody>
        {% for sub in subs %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ sub.email }}</td>
                <td>{{ sub.date }}</td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
    <h3>Revenue: {{"${:,}".format(revenue)}}</h3>
    <h3>Profit:  {{"${:,}".format(profit)}}</h3>

    <script>
        $(function () {
            $("tbody").click(function () {
                var comment = $(this).find('.comment');
                if (comment.css("display") == "table-row") {
                    comment.css("display", "none");
                } else {
                    comment.css("display", "table-row");
                }

            })
        })
    </script>
    <style>
        .comment {
            display: none;
        }
    </style>
{% endblock %}