{% extends "base.html" %} {% block title %}Add new product - {{ super() }}{% endblock %} 

{% block head %}

<link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='styles/addproductpage.less') }}"> {{ super() }} 

<script>
    function outputUpdate(value){
        $("#margin").text(value + "%")
        
    }
</script>
{% endblock %} 



{% block main %}
<form action="{{url_for('edit', id=id)}}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Title</label>
        <div class="col-10">
            {{form.title(class='form-control')}}
        </div>
    </div>
    <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label">Price</label>
        <div class="col-10">
            {{form.price(class='form-control', type='number')}}
        </div>
    </div>
    <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label">Area</label>
        <div class="col-10">
            {{form.area(class='form-control', type='number')}}
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Type</label>
        <div class="col-10">
            {{form.type_of_product(class='custom-select')}}
        </div>
    </div>

    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Description</label>
        <div class="col-10">
            {{form.description(class='form-control')}}
        </div>
    </div>
    
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Margin: <span id="margin">{{form.product_margin.data}}%</span></label>
        <div class="col-10">
            {{form.product_margin(step=0.1,min=0,max=100,oninput="outputUpdate(value)")}}
        </div>
    </div>
    <input type="submit" value="Submit">
</form>

{% endblock %}

