@import url('vars.less');
@import url('fonts.less');
@import url('header.less');

main{
    background-color: #ededed;
    min-height: 100vh;
    
    #posts{
        padding-top: 40px;
        text-align: center;
    .post{
        padding: 40px;
        border-radius: 6px;
        text-align: left;
        display: inline-block;
        width:60%;
        background-color: white;

    }
}
}