@import url('vars.less');
@import url('fonts.less');
@import url('header.less');

main{
    min-height: 100vh;
    .container{
        padding-top:100px;
    }
    background-color: #ededed;
    
    padding: 50px;
    .item{
        margin: 15px 10px 50px 10px;
        background-color: white;
        border-radius: 5px;
        height: 100px;
        overflow: hidden;
        position: relative;
        left: 0;
      
        .img{
            position: absolute;
            background-position: center;
            background-size: cover;
            top: 0;
      
            opacity: 1;
      

        width: 40%;
            height: 100%;
        }
        transition: box-shadow 150ms, height 600ms, left 400ms;
        transition-timing-function: ease-in-out;


        transition-timing-function: ease-in-out;
        .content{
            position: absolute;
            left: 40%;
            width:60%;
            padding: 5px 0 0 30px;
           
            .delete{
                border-radius: 3px;
                background-color: rgba(0, 0, 0, 0.05);
                padding: 2px 10px;
                position: absolute;
                right: 10%;
                bottom: 0;
                cursor: pointer;
                &:hover{
                    background-color: rgba(0, 0, 0, 0.55);
                    color: white;
                }
            }

        }


        &:hover {
            -webkit-box-shadow: 6px 11px 54px -15px rgba(0, 0, 0, 0.55);
            -moz-box-shadow: 6px 11px 54px -15px rgba(0, 0, 0, 0.55);
            box-shadow: 6px 11px 54px -15px rgba(0, 0, 0, 0.55);
          }
    }
}