@font-face {
    font-family: Nexa;
    src: url("../fonts/NexaBlack.otf") format("opentype");
}

@font-face {
    font-family: Reglo-Bold; 
    src: url("../fonts/Reglo-Bold.otf") format("opentype") ;
}
@font-face {
    font-family: NexaL; 
    src: url("../fonts/Nexa-Light.otf") format("opentype") ;
}