@keyframes AnimationName { 
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}

.line-appear{
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: white;
}
body{
    background-color: #ededed;
}
header {
    height: @toolbar-height;
    font-family: Nexa;
    width: 100%;
    
    background: linear-gradient(270deg, #38cde0, #e0c238, #38a0e0, #a840b7, #a840b7);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 400s ease infinite;
    -moz-animation: AnimationName 400s ease infinite;
    animation: AnimationName 400s ease infinite;
    
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 3px 0px 20px black;
    #name{
        position: absolute;
        left: 5% + @toolbar-height;
        top: 0;
        bottom: 0;
        line-height: @toolbar-height;
        color: white;
        font-size: 30px;
    }
    #logo{
        background-color: #fff;
    
        margin: auto;
        padding: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10%;
        height: 75%;        
        border-radius: 200px;
     
    }
    #sp-list{
        background: linear-gradient(270deg, #38cde0, #e0c238, #38a0e0, #a840b7, #a840b7);
        background-size: 500% 500%;
        -webkit-animation: AnimationName 400s ease infinite;
        -moz-animation: AnimationName 400s ease infinite;
        animation: AnimationName 400s ease infinite;
        opacity: 0.9;
        height: 0px; 
        width: 300px; 
        position:fixed; 
        top: 10vh; 
        right:0; 
        z-index:40; 
        transition: height 300ms;
        transition-timing-function: ease-in-out;
        overflow: hidden;
        ::-webkit-scrollbar{
            width: 10px;
        
        }
        ::-webkit-scrollbar-thumb{
            background-color: #edd2f0;
            border-radius: 10px;
            width: 5px;
        }
        #content{
            position: absolute;
            top: 4%;
            right: 0;
            left: 0;
            margin: auto;
            width: 94%;
            height: 80%;
            border-radius: 4px;
            background-color: white;
            overflow: auto;
    
            .item{
                padding: 10px 10px;
                &:hover{
                    background-color: gainsboro;
                }
            }

           
            
         

        }
        #checkout{
            position: absolute;
            bottom: 0;
            height: 10%;
            width: 100%;
            text-align: center;
            background-color:rgba(0, 0, 0, 0);
            color: white;
            cursor: pointer;
            &:hover{
                color:rosybrown;

            }
        
        }
    }
    #navigation{
        height: 100%;
        position: absolute;
        right: 0;
        font-family: Reglo-Bold;

        .nav-elems{
            height: 100%;
            float: left;     
            margin-right:50px; 
            position: relative;      
            a{
                color: white;
                text-decoration: none;
                font-size: @nav-text-size;
                line-height: @toolbar-height; 
                display: block;
                height: 100%;
                cursor: pointer;  
                img{
                    height: 40%;
                }
            }
            &:hover{
                img{
                    height: 40% + 2px;
                }
                border-bottom: 3px white solid;
            }
            
        }

        
    }

    @media (max-width: 768px){
        height:@toolbar-height*5;
        #name{
            left: 20% + @toolbar-height;
        }
        #logo{
            top: 0;
            height: 30%;
            margin: 0;
            
        }
        #navigation{
            height: 50%;
            bottom: 0;
            .nav-elems{
                width: 100%;
                height: 30%;
                a{
                    line-height: 1vh;
                }
                &:hover{
                    
                }
            }
        }
    }
 
}
 
main{
    padding-top: @toolbar-height;
}
