@import url('vars.less');
@import url('fonts.less');
@import url('header.less');

main {
  font-family: Nexa;

  
  #intro {
    height: 100vh - @toolbar-height;
    position: relative;
    z-index: 1;
    &-image {

      width: 100%;
      height: 100%;
      background-image: url('../images/header.jpg');
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
      background-attachment: fixed;
    }
    &-tagline {

      width: 100%;
      position: absolute;
      top: 30%;
      z-index: 99;
      text-align: center;
      &-blur {
        background-image: url('../images/header.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 100%;
        width: 100%;

        position: absolute;
        top: 0;
        z-index: -1;

        filter: blur(4px) brightness(0.9);
      }
      &-text {
        color: white;
        line-height: 200px;
        font-size: 50px;

      }

    }

  }

  #projects {
    background-color: #f5f5f5;
    text-align: center;
    padding: 40px 0 0 0;

    &-title {
      color: black;
      font-size: 30px;
      text-align: center;

    }

    .projects {
      cursor: pointer;
      display: inline-block;

      width: 400px;
      height: 250px;
      position: relative;
      margin: 30px 30px 120px 30px;
      &:hover {
        .title {
          bottom: -90px;

        }

      }
      .title {

        position: absolute;
        height: 100px;
        width: 300px;
        padding: 10px;
        background-color: white;
        bottom: -70px;
        left: 0;
        right: 0;
        margin: 0 auto;
        box-shadow: 0px 2px 5px grey;
        font-family: Nexa;
        transition: bottom 150ms, width 120ms;
        transition-timing-function: ease-in-out;
        text-align: left;
      }
      .image {
        position: absolute;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
      }
      #img01 {
        background-image: url('../images/projects/01.jpg')
      }
      #img02 {
        background-image: url('../images/projects/02.jpg')
      }
      #img03 {
        background-image: url('../images/projects/03.jpg')
      }
    }
  }
  #why-us {
    min-height: 350px;
    z-index: 50;

    background-image: url('../images/new.png');

    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 40px;

    &-title {

      font-family: Nexa;
      color: white;
      font-size: 30px;
      text-align: center;

    }
    .reasons {
      z-index: 5;
      min-width: 300px;

      margin: 30px;
      display: inline-block;
      position: relative;
      width: 33vw;
      min-height: 80px;
      border: 3px solid white;
      -webkit-animation: AnimationName 400s ease infinite;
      -moz-animation: AnimationName 400s ease infinite;
      animation: AnimationName 400s ease infinite;
      border-radius: 4px;

      text-align: left;
      overflow: hidden;

      &:hover {

        .more {
          left: 0;
        }

        .svg-icons {
          left: 80%;
        }
        .text {
          left: 105%;

        }
      }
      .more {
        position: absolute;
        top: 0;
        left: -100%;
        border-radius: 0px;
        height: 100%;
        width: 100%;
        transition: left 200ms;
        transition-timing-function: ease-in-out;
        background: linear-gradient(270deg, #38cde0, #e0c238, #38a0e0, #a840b7, #a840b7);
        background-size: 1000% 1000%;
        color: white;
        -webkit-animation: AnimationName 400s ease infinite;
        -moz-animation: AnimationName 400s ease infinite;
        animation: AnimationName 400s ease infinite;
        &-text {
          margin: 10px 30% 0 20px;
          font-family: NexaL;
        }
      }
      .svg-icons {

        position: absolute;
        width: 50px;
        height: 70px;
        fill: white;
        left: 5%;
        transition: left 250ms;

      }
      .text {
        padding-top: 10px;
        padding-left: 30%;

        font-family: NexaL;
        color: white;
        transition: left 250ms;
      }

    }

  }
  #our-partners {
    background-color: #f5f5f5;
    min-height: 500px;
    text-align: center;
    &-slogan {

      padding: 30px;
      font-size: 30px;
    }
    .partners {

      display: inline-block;
      &-logos {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 300px;
        height: 200px;
        margin: 40px;

      }
      #partner-logo-01 {
        background-image: url('../images/cola.png');
      }
      #partner-logo-02 {
        background-image: url('../images/lego.png');
      }
    }
  }

}

footer {
  font-family: Nexa;
  min-height: 200px; //tmp
  z-index: 1;
  background-color: white;
  p {
    font-family: NexaL;
  }
  .info-blocks {
    margin-top: 40px;
    margin-left: 60px;
    float: left;
  }
  #input-email {

    float: left;
    margin-left: 200px;
    margin-top: 60px;
    height: 44px;

  }

}

#loginform {

  transition: opacity 600ms, top 600ms;
  animation-timing-function: ease-in;
  z-index: -1;
  position: fixed;
  top: 100px;
  width: 450px;
  opacity: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 2px 6px grey;
  padding: 50px;
  .loginform-inputs {
    background: #F6F6F6;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    margin-top: 20px;
    width: 350px;
    height: 50px;
    font-family: NexaL;
    padding: 0 13px;
    color: #717171;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }
  input[type=submit] {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: #0C7DB6;
    border-radius: 10px;
    border: none;
    color: white;
  }
}

#darken {
  transition: opacity 400ms;
  z-index: -6;
  position: fixed;
  top: 0;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  background: rgba(34, 34, 34, 0.75);
}


