@import url('vars.less');
@import url('fonts.less');
@import url('header.less');
header{
    background: none;
}
body{
    font-family: Nexa;
    main{
        #background{
            position: fixed;
            top: 0;
            height: 100vh;
            width: 100vw;
            z-index: -1;
            filter: blur(10px);

        }
    

        #form-container{
            padding: 40px;
            z-index: 10;
            margin: 10px auto;
            width: 60vw;
            background-color: white;
            min-height: 60vh;
            border-radius: 10px;
            
            box-shadow: 6px 11px 54px -15px black;
        }
    }
}
.nexal{
    font-family: NexaL;
}
