@import url('vars.less');
@import url('fonts.less');
@import url('header.less');

@menu-width: 10%;

main {

  font-family: Nexa;
  padding-top: @toolbar-height + 2px;
  min-height: 100vh;
  overflow: auto;
  text-align: left;
  background-color: #ededed;
  #products {
    margin-left: @menu-width;
    width: 100% - @menu-width;
    height: 100%;
    padding-left: 50px;

    .container {
      height: 350px;
      width: 300px;
      position: relative;
      margin: 0 20px 30px 10px;
      display: inline-block;

    }
    .info-box {
      position: relative;
      top: 0;
      z-index: 0;

      height: inherit;
      width: inherit;

      background-color: white;
      border-radius: 8pt;
      transition: box-shadow 150ms, width 300ms, height 300ms, left 400ms, right 400ms, top 400ms, bottom 400ms;

      text-align: left;
      transition-timing-function: ease-in-out;

      &:hover {
        -webkit-box-shadow: 6px 11px 54px -15px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 6px 11px 54px -15px rgba(0, 0, 0, 0.55);
        box-shadow: 6px 11px 54px -15px rgba(0, 0, 0, 0.55);
        .dissapear {
          opacity: 0;
        }
      }

      overflow: hidden;
    }
    .buttons-block {
      a {
        text-decoration: none;
      }
      position: absolute;
      bottom: 10px;
      right: 20px;
      font-family: NexaPPP;
      &-more {
        cursor: pointer;
      }
      .button {
        outline: none;

        transition: background-color 500ms;
        padding: 10px;
        border-radius: 6px;
        cursor: pointer;
        background: none;
        border: none;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);

        }
      }

    }
    .image {
      position: absolute;

      top: 0;

      opacity: 1;

      transition: opacity 500ms, width 500ms, height 500ms;
      transition-timing-function: ease-in-out;
      width: 100%;
      height: 200px;
      background-position: center;
      background-size: cover;
    }

    .product-name {

      margin: 10px 0 0 20px;
    }
    .price {

      margin: 10px 0 0 20px;

    }
  }
}

.nexal {
  font-family: NexaL;
}

.rel {
  width: 100%;
  position: relative;
  top: 0;
  height: 200px;
}

a {
  cursor: pointer;
}

#selectors {
  padding-left: 20px;
  position: fixed;
  width: @menu-width;
  height: 100%;
  font-family: Reglo-Bold;
  p {
    a:hover {
      color: grey;
    }
  }

}
